*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.main_container{
    background-color:white;
    width: 100%;
    height: 100%;
    position: relative;

    
}
.nav_profile{
    width: 3.8%;
    height: 7%;
    border: 1px solid rgba(236, 111, 38, 0.642);
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 12%;
    background-image: url("my passport size.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0s all;
}
.nav_profile:hover{
    width: 13%;
    height: 25%;
    z-index: 1;
    transition-duration: 0.6s;
    left: 9%;

}
.profile_name{
    position: absolute;
    top: 2%;
    left: 16%;
    font-size: 25px;
}
.online{
    font-size: 13px;
    position: absolute;
    left: 17%;
    top: 6%;
    color: rgb(0, 203, 0);

}
.icon{
    display: inline-block;
    width: 55%;
    height: 10%;
    /* border: 2px solid red; */
    position: absolute;
    top: 0.5%;
    left: 27%;
    text-align: right;
}
.icon_one{
    font-size: 15px;
    width: 4%;
    height: 40%;
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-right: 2%;
    padding-top: 5px;
}
.nav_button{
    margin-right:2%;
    margin-top: 1%;
    width: 15%;
    height: 60%;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.nav_button:hover{
    background-color: rgba(255, 255, 0, 0.616);
    color: black;
    transition-duration: 0.5s;
    
}
.container{
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 0, 0.75);
    position: absolute;
    top: 8%;
    left: 12%;
}
.left{
    width: 30%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.823);
    border-radius: 10px;
    position: absolute;
    top: 3%;
    left: 17%;
    overflow: hidden;

}
.left_bg_image{
    width:120%;
    height: 55%;
    background-image: url(https://images.pexels.com/photos/14417508/pexels-photo-14417508.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-10% ,-40%);
    
}

.left_profile{
    width: 35%;
    height: 18%;
    border: 1px solid rgb(241, 241, 245);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-40%);
    background-image: url("my passport size.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0s all;

}
.left_profile:hover{
    width: 80%;
    height: 40%;
    top: 20%;
    transition-duration: 0.5s;

}

.left_profile_name{
    position: absolute;
    top:43%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.left_buttons{
    width: 100%;
    height: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.message{
    font-size: 20px;
    width: 40%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 7%;
    background-color: rgba(255, 255, 0, 0.793);
    color: black;
    border: 1px solid rgba(255, 255, 0, 0.831);
    border-radius: 10px;
    
}
.message::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: blue;
    position: absolute;
    right: 50%;
    bottom: 0;   
    transition: 0.25s all linear;
}
.message:hover::after{
    width: 50%;
}
.message::before{
    content: '';
    height: 3px;
    width: 0%;
    background-color: blue;
    position: absolute;
    left: 50%;
    bottom: 0;   
    transition: 0.25s all linear;
}
.message:hover::before{
    width: 50%;         
}



.call{
    font-size: 20px;
    width: 20%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: yellow;
    color: black;
    border: 1px solid yellow;
    border-radius: 10px;

}

.call::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: blue;
    position: absolute;
    right: 50%;
    bottom: 0;   
    transition: 0.25s all linear;
}
.call:hover::after{
    width: 50%;



}

.call::before{
    content: '';
    height: 3px;
    width: 0%;
    background-color: blue;
    position: absolute;
    left: 50%;
    bottom: 0;   
    transition: 0.25s all linear;
}
.call:hover::before{
    width: 50%;



}

.more{
    font-size: 20px;
    width: 20%;
    height: 70%;
    position: absolute;
    top: 10%;
    right: 6%;
    background-color: yellow;
    color: black;
    border: 1px solid yellow;
    border-radius: 10px;

}
.menubar{
    width: 80%;
    height: 35%;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.601);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
   
}
.menubar a{
    /* border: 1px solid blue; */
    font-family: sans-serif;
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: black;
    display: block;
   margin-top: 10px;
   margin-left: 4%;

}
.menubar i{
    /* text-align: left; */
    /* background-color: yellow; */
}
.right_icons{
    /* background-color: white; */
    position: absolute;
    right: 3%;

}

.add_friend{
    font-family: sans-serif;
    background-color: yellow;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
    width: 70%;
    height: 35px;
    position: absolute;
    bottom: 2%;
    left: 15%;
  
}

/* right box start */

.right{
    
    width: 30%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.895);
    border-radius: 10px;
    position: absolute;
    top: 3%;
    right: 17%;
}
.right_top_icon{
    width: 15px;
    height: 10px;
    font-size: 25px;
    position: absolute;
    top: 2%;
    left: 2%;
}
.edit_profile_right{
    font-size: 20px;
    width: 40%;
    height: 7%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    background-color: yellow;
    color: black;
    border: 1px solid yellow;
    border-radius: 10px;
    
}
.right_bg_profile{
    width: 35%;
    height: 18%;
    border:3px solid rgba(243, 139, 139, 0.768);
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 20%;
    transform: translate(-50%,-40%);
    background-image: url("my passport size.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px ;

}

.image_icon{
    position: absolute;
    top:12%;
    left: 30%;
}
.right_profile_name{
    position: absolute;
    top: 15%;
    left: 40%;

}
.change_name{
    color: rgba(0, 0, 0, 0.527);
}
.right_add_icon{
    font-size: 20px;
    position: absolute;
    right: -30%;
    top: 16%;
    
}
.right_form{
    width: 95%;
    height: 65%;
    position: absolute;
    bottom: 1%;
    left: 2.5%;
    /* text-align: center; */
    line-height: 20px;
}
input{
    margin-bottom: 2px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.435);

}
.radio{
   margin-right: 8px;
}
/* .radio_two{
    margin-left: 40%;
    border: 2px solid rgba(255, 255, 0, 0.615);

} */
hr{
    display: block;
    z-index: 1;
    height: 1px;
    border: 0;
    border-top: 3px solid rgb(255, 255, 0);
    margin: 5px;
    padding: 0;
}
.submit_form{
    font-family: sans-serif;
    background-color: yellow;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
    width: 70%;
    height: 35px;
    position: absolute;
    bottom: 5%;
    left: 15%;

}
.radio_two{
    margin-left: 40%;
   

}
